* {
    padding: 0;
    margin: 0;
}

.container404 {
    background-color: white;
    height: 100vh;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}