$primary :  #61C2D0;
$backgroundColor : #363737;
$bg-lateral-menu : #343535;
$transparentBorder : #36373700;
$menuBgColor : #242626;
$bg-stars : #242626ec;
$bg-bookpane : #EBEBEB;
$okay: #33931B;
$warningColor: #D14242;
$text-lateral-menu: #C4C4C4;
$backgroundColor2 : #C4C4C4;
